
@-webkit-keyframes rotate
	from
		-webkit-transform: rotate(0deg)
	to
		-webkit-transform: rotate(360deg)

header

	.navbar-right
		li
			padding-top: 5px

			a
				padding: 10px 20px !important

				&.login-button
					border: 1px solid white
					margin-left: 20px
					margin-right: 20px

	.navbar-brand
		img
			color: white
			width: 27px
			margin-right: 10px
			margin-top: -3px
			-webkit-animation-name:             rotate 
			-webkit-animation-duration:         15s 
			-webkit-animation-iteration-count:  infinite
			-webkit-animation-timing-function: linear