<div id="home3">
  <div id="hero">
    <div id="cover-image" class="animated fadeIn">
      <div class="container">
        <h1 class="hero-text animated fadeInUp">Stop losing customers to expired cards.</h1>
        <!-- <p class="sub-text animated fadeInUp">Something something top-bar stripe integration</p> -->
        <div class="cta animated fadeIn">
          <a href="signup.html" class="button">Try for free</a>
        </div>
        <div class="screenshot animated fadeInUp">
          <img src="images/ss2.png" class="img-responsive" alt="screenshot" />
        </div>
      </div>
    </div>
  </div>

<div id="home">

  <div id="features">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h2>We can say something here</h2>
          <p>And some supporting stuff here</p>
        </div>
      </div>
      <div class="row feature">
        <div class="col-md-6 info">
          <h4>This is the first big feature - probably talking about the top bar.</h4>
          <p>
            Some text about that thing that bumps your page down and lets you know that your card is about to expire.
          </p>
        </div>
        <div class="col-md-6 image">
          <img src="images/feature1.png" class="img-responsive" alt="feature1" />
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature backwards">
        <div class="col-md-6 info">
          <h4>Seamless Stripe integration.</h4>
          <p>
            This might be about how easy it is to integrate Top Dun into your site. Something something automatic card updates.
          </p>
        </div>
        <div class="col-md-6 image">
          <img src="images/feature2.png" class="img-responsive" alt="feature2" />
        </div>
      </div>
    </div>    
  </div>

  <div id="pricing">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h3>Try Top Dun for free for 30 days.</h3>
          <p>All plans include thing one, thing two, and thing three</p>
        </div>
      </div>
      <div class="row charts">
        <div class="col-md-4">
          <div class="chart first">
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">29</span>
              <span class="period">/month</span>
            </div>
            <div class="plan-name">Freelance</div>
            <div class="specs">
              <div class="spec">
                <span class="variable">1,000</span>
                customers
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="chart">
          <!-- <div class="chart featured"> -->
            <!-- <div class="popular">Most popular</div> -->
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">59</span>
              <span class="period">/month</span>
            </div>
            <div class="plan-name">Profesional</div>
            <div class="specs">
              <div class="spec">
                <span class="variable">5,000</span>
                customers
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="chart last">
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">79</span>
              <span class="period">/month</span>
            </div>
            <div class="plan-name">Premium</div>
            <div class="specs">
              <div class="spec">
                <span class="variable">10,000</span>
                customers
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="footer-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 menu">
          <h3>Overview</h3>
          <ul>
                <li>
                    <a href="features.html">Features</a>
                </li>
                <li>
                  <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="pricing.html">Pricing</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="blog.html">Coming soon</a>
                </li>
              </ul>
        </div>
        <div class="col-sm-3 menu">
          <h3>Menu</h3>
          <ul>
                <li>
                    <a href="features.html">About us</a>
                </li>
                <li>
                  <a href="services.html">Contact us</a>
                </li>
                <li>
                    <a href="aboutus.html">Jobs</a>
                    <a href="aboutus.html" class="hiring">
                      We're hiring!
                    </a>
                </li>
                <li>
                    <a href="support.html">Portfolio</a>
                </li>
                <li>
                    <a href="blog.html">Status</a>
                </li>
              </ul>
        </div>
        <div class="col-sm-2 menu">
          <h3>Social</h3>
          <ul>
                <li>
                    <a href="features.html">Youtube</a>
                </li>
                <li>
                  <a href="services.html">Facebook</a>
                </li>
                <li>
                    <a href="pricing.html">Twitter</a>
                </li>
              </ul>
        </div>
        <div class="col-sm-4 newsletter">
          <div class="signup clearfix">
            <p>
              Sign up for the newsletter and we'll inform you of updates, offers and more.
            </p>
            <form>
              <input type="text" name="email" class="form-control" placeholder="Your email address" />
              <input type="submit" value="Sign up" />
            </form>
          </div>
          <a href="#">
            <img src="images/social/social-tw.png" alt="twitter" />
          </a>
          <a href="#">
            <img src="images/social/social-dbl.png" alt="dribbble" />
          </a>
        </div>
      </div>
      <div class="row credits">
        <div class="col-md-12">
          Copyright © 2014. React
        </div>
      </div>
    </div>
  </div> -->
</div>